{% extends 'base.html' %}

{% block title %} Listado de productos {% endblock %}

{% block content %}
<h1> Listado de Productos </h1>

<a href="{% url 'product_create' %}"> Añadir </a>
{% include 'includes/search_form.html' %}
<ul>
    {% for product in object_list %}
       <li> {{ product.name }} <a href="{% url 'product_update' pk=product.id %}"> Editar </a>  | <a href="{% url 'product_delete' pk=product.id %}"> Elimnar </a> </li>
    {% endfor %}
</ul>

<a href="{% url 'main' %}"> Inicio </a>
{% endblock %}

