<form method="GET" class="">
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
               <i class="bi bi-search"></i>
            </span>
        </div>
        <input type="search" name="q" class="form-control" placeholder="Buscar por: {{ search_placeholder }}" aria-label="{{ search_placeholder }}" aria-describedby="basic-addon1" value="{% if search_query %}{{search_query}}{% endif %}">
    </div>
</form>